.product {
    padding: 5px;
    height: 510px;
    width: 300px;
    border: 2px solid #95a0a770;
    border-radius: 5px;
}

.product img {
    border-radius: 5px;
    height: 300px;
    width: 300px;
}